<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.cult_of_tim.cultoftim.util.TimCustomLayout" />
        </encoder>
    </appender>
    <appender name="map" class="com.example.cult_of_tim.cultoftim.util.TimConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="com.example.cult_of_tim.cultoftim.util.TimCustomLayout" />
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="map"/>
    </root>
</configuration>