<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>Your Shopping Cart</h2>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${cartItems}">
        <td th:text="${item.book.title}"></td>
        <td th:text="${item.book.price}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/cart/buy}" method="post">
    <button type="submit">Buy All Books</button>
</form>


<div th:if="${error ne null}" th:text="${error}" style="color: red;"></div>


</body>
</html>