<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Authors List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
  <h1 class="header">Authors List</h1>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th th:if="${userRole == 'Admin'}">Edit</th>
      <th th:if="${userRole == 'Admin'}">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
      <td th:text="${author.id}"></td>
      <td th:text="${author.fullName}"></td>
      <td th:if="${userRole == 'Admin'}"><a th:href="@{/authors/edit/{id}(id=${author.id})}" class="btn btn-info">Edit</a></td>
      <td th:if="${userRole == 'Admin'}"><a th:href="@{/authors/delete/{id}(id=${author.id})}" class="btn btn-danger">Delete</a></td>
    </tr>
    </tbody>
  </table>
  <a th:if="${userRole == 'Admin'}" href="/authors/add" class="btn btn-primary">Add New Author</a>
</div>
<a th:href="@{/}">Back to Main Page</a>
</body>
</html>