<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2 class="header">Adding a book</h2>
<div th:if="${param.title}">
    <div class="alert alert-danger">
        Book with a title that you have entered already exists.
    </div>
</div>
<div th:if="${param.authors}">
    <div class="alert alert-danger">
        Author(s) you have entered do not exist.
    </div>
</div>
<div th:if="${param.categories}">
    <div class="alert alert-danger">
        Category(ies) you have entered do not exist.
    </div>
</div>
<form class="form" id="addBookForm" th:action="@{/books/add}" th:object="${bookRequest}" method="post">
    <div class="form-group">
        <label for="title">Book title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" class="form-control" required>
        <p class="text-danger" th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></p>
    </div>
    
    <div class="form-group">
        <label for="authors">Author(s):</label>
        <input type="text" id="authors" name="authors" th:field="*{authors}" class="form-control" required>
        <p class="text-danger" th:errors="*{authors}" th:if="${#fields.hasErrors('authors')}"></p>
    </div>

    <div class="form-group">
        <label for="categories">Category(ies):</label>
        <input type="text" id="categories" name="categories" th:field="*{categories}" class="form-control" required>
        <p class="text-danger" th:errors="*{categories}" th:if="${#fields.hasErrors('categories')}"></p>
    </div>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" th:field="*{quantity}" class="form-control" required>
    <p class="text-danger" th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"></p>

    <br>
    <button type="submit" class="btn btn-primary">Add Book</button>
</form>
</body>
</html>