<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2 class="header">Deleting a book</h2>
<div th:if="${param.title}">
    <div class="alert alert-danger">
        Book with a title that you have entered doesn't exist.
    </div>
</div>
<form class="form" id="deleteBookForm" th:action="@{/books/delete}" th:object="${bookRequest}" method="post">
    <div class="form-group">
        <label for="title">Book title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" class="form-control" required>
        <p class="text-danger" th:if="${#fields.hasErrors('title')}"></p>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Delete Book</button>
</form>
</body>
</html>