<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book list</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1 class="header">Books</h1>

<div th:if="${userRole == 'Admin'}">
  <table class="table">
    <tr>
      <th>Book name</th>
      <th>Book author(s)</th>
      <th></th>
    </tr>

    <tr th:each="book : ${books}">
      <td th:text="${book.title}">Book name</td>
      <td th:text="${book.authors}">Book author(s)</td>
      <td th:text="${book.categories}">Book category</td>
      <td th:text="${book.quantity}">Book quantity</td>
    </tr>
  </table>
  <a href="/booklist/add" class="btn btn-primary">Add Book</a>
  <a href="/booklist/edit" class="btn btn-primary">Edit Book</a>
  <a href="/booklist/delete" class="btn btn-primary">Delete Book</a>
</div>

<div th:if="${userRole == 'Default'}">
  <table class="table">
    <tr>
      <th>Book name</th>
      <th>Book author(s)</th>
    </tr>

    <tr th:each="book : ${books}">
      <td th:text="${book.title}">Book name</td>
      <td th:text="${book.authors}">Book author</td>
      <td th:text="${book.categories}">Book category</td>
    </tr>
  </table>
</div>
</body>
</html>

