<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2 class="header">Adding a book</h2>
<form class="form" id="addBookForm" th:action="@{/books}" method="post">
    <input type="text" name="title" placeholder="Book title" />
    <input type="text" name="author" placeholder="Author(s)" />
    <input type="text" name="category" placeholder="Category(ies)" />
    <input type="number" name="amount" placeholder="Amount" />
    <br>
    <a href="/booklist/add" class="btn btn-primary">Add New Book</a>
</form>
</body>
</html>