<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Book list</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1 class="header">Books</h1>

<div th:if="${userRole == 'Admin'}">
  <table class="table">
    <tr>
      <th>Book name</th>
      <th>Book author(s)</th>
      <th>Book category(ies)</th>
      <th>Amount</th>
      <th></th>
    </tr>

    <tr th:each="book : ${books}">
      <td th:text="${book.title}">Book name</td>
      <td>
        <span th:each="author : ${book.authors}" th:text="${author.getFullName()}"></span>
      </td>
      <td>
        <span th:each="category : ${book.categories}" th:text="${category.getName()}"></span>
      </td>
      <td th:text="${book.quantity}">Book quantity</td>
    </tr>
  </table>
  <a href="/books/add" class="btn btn-primary">Add Book</a>
  <a href="/books/edit" class="btn btn-primary">Edit Book</a>
  <a href="/books/delete" class="btn btn-primary">Delete Book</a>
</div>

<div th:if="${userRole == 'Default'}">
  <table class="table">
    <tr>
      <th>Book name</th>
      <th>Book author(s)</th>
      <th>Book category(ies)</th>
    </tr>

    <tr th:each="book : ${books}">
      <td th:text="${book.title}">Book name</td>
      <td>
        <span th:each="author : ${book.authors}" th:text="${author.getFullName()}"></span>
      </td>
      <td>
        <span th:each="category : ${book.categories}" th:text="${category.getName()}"></span>
      </td>
    </tr>
  </table>
</div>
</body>
</html>

