<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2 class="header">Editing a book</h2>
<form class="form" id="editBookForm" th:action="@{/books/edit}" method="post">
    <label for="title">Book title:</label>
    <input type="text" id="title" name="title" class="form-control" required>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" class="form-control" required>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" class="form-control" required>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" name="amount" class="form-control" required>
    <br>
    <button type="submit" class="btn btn-primary">Edit Book</button>
</form>
</body>
</html>