<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h2 class="header">Editing a book</h2>
<form class="form" id="editBookForm" th:if="${admin}" th:action="@{/books/{bookId}}" th:object="${book}" method="post">
    <input type="text" th:field="${title}" placeholder="Book title" />
    <input type="text" th:field="${author}" placeholder="Author(s)" />
    <input type="text" th:field="${categories}" placeholder="Category(ies)" />
    <input type="number" th:field="${amount}" placeholder="Amount" />
    <br>
    <a href="/booklist/save" class="btn btn-primary">Save Changes</a>
</form>
</body>
</html>