<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Promotions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1 class="header">Promotions</h1>

<table class="table">
    <tr>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Is Global Promotion?</th>
        <th>Discounts</th>
    </tr>

    <tr th:each="promotion : ${promotions}">
        <td th:text="${promotion.description}">Description</td>
        <td th:text="${promotion.startDate}">Start Date</td>
        <td th:text="${promotion.endDate}">End Date</td>
        <td th:text="${promotion.globalPromotion ? 'Yes' : 'No'}">Yes/No</td>
        <td>
            <a th:if="${userRole == 'Admin'}" th:href="@{/promotions/edit/{id}(id=${promotion.id})}" class="btn btn-primary">Edit Promotion</a>
        </td>
        <td>
            <a th:href="@{/promotions/discounts/{id}(id=${promotion.id})}" class="btn btn-primary">View Discounts</a>
        </td>
    </tr>
    <a th:if="${userRole == 'Admin'}" href="/promotions/add" class="btn btn-primary">Add New Promotion</a>
</table>
<a th:href="@{/}">Back to Main Page</a>
</body>
</html>
